<div class="row clearfix">
  <div class="col-md-12 column">

    <span ng-bind="errorMessage"></span>

    <div class="row clearfix">
      <div class="col-md-4 column">
      </div>
      <div class="col-md-4 column">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-8">
              <input ng-model="sensei.name" type="text" class="form-control" id="name" />
            </div>
          </div>
          <div class="form-group">
             <label for="login" class="col-sm-3 control-label">Login</label>
            <div class="col-sm-8">
              <input ng-model="sensei.login" type="text" class="form-control" id="login" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button id="add" ng-click="addSensei()" type="submit" class="btn btn-default">Adicionar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 column">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Nome
          </th>
          <th>
            Login
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sensei in senseis">
          <td>
            1
          </td>
          <td>
            {{sensei.name}}
          </td>
          <td>
            {{sensei.login}}
          </td>
          <td>
            Status
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
