<div class="row clearfix">
  <div class="col-md-12 column">

    <span ng-bind="errorMessage"></span>

    <div class="row clearfix">
      <div class="col-md-4 column">
      </div>
      <div class="col-md-4 column">
        <form class="form-horizontal" ng-submit="addSensei(formSensei.$valid)" name="formSensei" novalidate role="form">
          <div class="form-group">
            <form-input label="Nome" model="sensei.name" input-name="name" input-required="true" input-form="formSensei"></form-input>
          </div>
          <div class="form-group">
            <form-input label="Login" model="sensei.login" input-name="login" input-required="true" input-pattern="/^cit$/" input-form="formSensei"></form-input><br>
          </div>
          <div class="form-group">
             <label for="knowledges" class="col-sm-3 control-label">Knowledges</label>
            <div class="col-sm-8">
              <textarea ng-model="sensei.knowledges" class="form-control" id="knowledges" >
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button id="add" type="submit" class="btn btn-default"
                       >Adicionar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 column">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Nome
          </th>
          <th>
            Login
          </th>
          <th>
            Knowledges
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sensei in senseis">
          <td>
            1
          </td>
          <td>
            {{sensei.name}}
          </td>
          <td>
            {{sensei.login}}
          </td>
          <td>
            {{sensei.knowledges}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
